<<<<<<< HEAD
/* Windows 95 Desktop Icons - SVG Inline */

.desktop-icon .icon-svg {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto 4px;
}

/* My Computer Icon - Win95 Style */
.icon-mycomputer {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><rect x="4" y="8" width="24" height="16" fill="%23c0c0c0" stroke="%23000" stroke-width="1"/><rect x="6" y="10" width="20" height="10" fill="%2300a8e1"/><rect x="10" y="24" width="12" height="2" fill="%23808080"/><rect x="8" y="26" width="16" height="2" fill="%23808080"/><rect x="14" y="14" width="4" height="4" fill="%23fff" opacity="0.3"/></svg>');
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Recycle Bin Icon - Win95 Style */
.icon-recyclebin {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M8 10h16v18H8z" fill="%23c0c0c0" stroke="%23000"/><rect x="6" y="8" width="20" height="2" fill="%23808080"/><rect x="12" y="6" width="8" height="2" fill="%23808080"/><rect x="11" y="13" width="2" height="12" fill="%23000" opacity="0.3"/><rect x="15" y="13" width="2" height="12" fill="%23000" opacity="0.3"/><rect x="19" y="13" width="2" height="12" fill="%23000" opacity="0.3"/></svg>');
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* My Documents Icon - Win95 Style */
.icon-documents {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M8 4h12l6 6v18H8z" fill="%23ffff00" stroke="%23000"/><path d="M20 4v6h6" fill="%23fff8b0" stroke="%23000"/><line x1="11" y1="16" x2="23" y2="16" stroke="%23000" stroke-width="1"/><line x1="11" y1="19" x2="23" y2="19" stroke="%23000" stroke-width="1"/><line x1="11" y1="22" x2="18" y2="22" stroke="%23000" stroke-width="1"/></svg>');
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Internet Explorer Icon - Win95 Style */
.icon-ie {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><circle cx="16" cy="16" r="14" fill="%230078d7" stroke="%23000"/><path d="M8 16c0-4 3-8 8-8M24 16c0 4-3 8-8 8" stroke="%23fff" stroke-width="2" fill="none"/><ellipse cx="16" cy="16" rx="6" ry="12" fill="none" stroke="%23fff" stroke-width="2"/><line x1="6" y1="16" x2="26" y2="16" stroke="%23fff" stroke-width="2"/><path d="M22 12c-2-2-4-3-6-3" stroke="%23ffeb3b" stroke-width="2" fill="none"/></svg>');
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Network Neighborhood Icon - Win95 Style */
.icon-network {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><rect x="4" y="6" width="10" height="8" fill="%23c0c0c0" stroke="%23000"/><rect x="18" y="6" width="10" height="8" fill="%23c0c0c0" stroke="%23000"/><rect x="11" y="18" width="10" height="8" fill="%23c0c0c0" stroke="%23000"/><line x1="9" y1="14" x2="9" y2="20" stroke="%23000" stroke-width="2"/><line x1="23" y1="14" x2="23" y2="20" stroke="%23000" stroke-width="2"/><line x1="9" y1="20" x2="23" y2="20" stroke="%23000" stroke-width="2"/><line x1="16" y1="20" x2="16" y2="18" stroke="%23000" stroke-width="2"/></svg>');
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}
=======
/* Windows 95 Desktop Icons - SVG Inline */

.desktop-icon .icon-svg {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto 4px;
}

/* My Computer Icon - Win95 Style */
.icon-mycomputer {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><rect x="4" y="8" width="24" height="16" fill="%23c0c0c0" stroke="%23000" stroke-width="1"/><rect x="6" y="10" width="20" height="10" fill="%2300a8e1"/><rect x="10" y="24" width="12" height="2" fill="%23808080"/><rect x="8" y="26" width="16" height="2" fill="%23808080"/><rect x="14" y="14" width="4" height="4" fill="%23fff" opacity="0.3"/></svg>');
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Recycle Bin Icon - Win95 Style */
.icon-recyclebin {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M8 10h16v18H8z" fill="%23c0c0c0" stroke="%23000"/><rect x="6" y="8" width="20" height="2" fill="%23808080"/><rect x="12" y="6" width="8" height="2" fill="%23808080"/><rect x="11" y="13" width="2" height="12" fill="%23000" opacity="0.3"/><rect x="15" y="13" width="2" height="12" fill="%23000" opacity="0.3"/><rect x="19" y="13" width="2" height="12" fill="%23000" opacity="0.3"/></svg>');
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* My Documents Icon - Win95 Style */
.icon-documents {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M8 4h12l6 6v18H8z" fill="%23ffff00" stroke="%23000"/><path d="M20 4v6h6" fill="%23fff8b0" stroke="%23000"/><line x1="11" y1="16" x2="23" y2="16" stroke="%23000" stroke-width="1"/><line x1="11" y1="19" x2="23" y2="19" stroke="%23000" stroke-width="1"/><line x1="11" y1="22" x2="18" y2="22" stroke="%23000" stroke-width="1"/></svg>');
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Internet Explorer Icon - Win95 Style */
.icon-ie {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><circle cx="16" cy="16" r="14" fill="%230078d7" stroke="%23000"/><path d="M8 16c0-4 3-8 8-8M24 16c0 4-3 8-8 8" stroke="%23fff" stroke-width="2" fill="none"/><ellipse cx="16" cy="16" rx="6" ry="12" fill="none" stroke="%23fff" stroke-width="2"/><line x1="6" y1="16" x2="26" y2="16" stroke="%23fff" stroke-width="2"/><path d="M22 12c-2-2-4-3-6-3" stroke="%23ffeb3b" stroke-width="2" fill="none"/></svg>');
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Network Neighborhood Icon - Win95 Style */
.icon-network {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><rect x="4" y="6" width="10" height="8" fill="%23c0c0c0" stroke="%23000"/><rect x="18" y="6" width="10" height="8" fill="%23c0c0c0" stroke="%23000"/><rect x="11" y="18" width="10" height="8" fill="%23c0c0c0" stroke="%23000"/><line x1="9" y1="14" x2="9" y2="20" stroke="%23000" stroke-width="2"/><line x1="23" y1="14" x2="23" y2="20" stroke="%23000" stroke-width="2"/><line x1="9" y1="20" x2="23" y2="20" stroke="%23000" stroke-width="2"/><line x1="16" y1="20" x2="16" y2="18" stroke="%23000" stroke-width="2"/></svg>');
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}
>>>>>>> abcbb6b6a5fde656692021ce6d66fcfecfde8768
